---
layout: default
---

<div class="home">
  <script type="module" defer>
    const url = new URL(window.location.href);
    const posts = Array.from(document.body.querySelectorAll('ul.post-list > li'));
    const tag = url.searchParams.get('tag');
    if (tag) {
      const excluded = posts.filter(post => {
        const postTags = Array.from(post.querySelectorAll('.pill')).map(e => e.innerText);
        return !postTags.includes(tag);
      });
      if (excluded.length < posts.length) {
        excluded.forEach(e => e.style = 'display: none');
      }
    }
  </script>
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          <ul class="pills">
            {%- for category in post.categories -%}
            <li class="pill"><a href="/?tag={{ category }}">{{ category }}</a></li>
            {%- endfor -%}
          </ul>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
